#enviroment
.env
.venv/

#pycache
__pycache__/
*.pyc
*.pyo

# vscode
.vscode/

#raw data 
data/raw/*

#processed data
data/processed_ip_location/*.csv
data/processed_ip_location/*.parquet
data/processed_ip_location/*.json


#price_collection
data/price_collection/*.csv
data/price_collection/*.parquet
data/price_collection/*.json

# checkpoints
checkpoint.txt

# big binary
*.BIN