#enviroment
.env
.venv/

#pycache
__pycache__/
*.pyc
*.pyo

# vscode
.vscode/

data/export/
*.gz
*.jsonl

# ignore pipeline outputs
data/product_extract/*.jsonl
data/product_extract/*.parquet
data/product_extract/*.txt

# ignore processed location files
data/processed_ip_location/*.csv
data/processed_ip_location/*.parquet
data/processed_ip_location/*.json
data/processed_ip_location/*.txt
    
# ignore processed location files
data/raw/*.csv
data/raw/*.parquet
data/raw/*.json

# notebooks
*.ipynb_checkpoints

# logs
*.log

# checkpoints
checkpoint.txt

# big binary
*.BIN